.post {
    background-color: #86626E;
    width: 30vw;
    height: auto;
    color: black;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
    box-shadow: 1px 4px 8px rgb(56, 7, 7);
}

.posts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#post-title {
    width: 90%;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 15px auto;
    padding-bottom: 10px;
}

#post-body {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 2%;
    padding-bottom: 10px;
}

img {
    margin: 10px 0;
    width: 150px;
    height: 200px;
    box-shadow: 2px 4px 8px rgb(56, 7, 7);
}

.post-img {
    align-items: center;
    width: 50%;
}

.post-author {
    margin: 15px 0;
}

.post:hover {
    background-color: rgb(102, 28, 28);
    color: white;
}

#post-img {
    width: auto;
}