.post {
    background-color: #86626E;
    width: 30vw;
    height: auto;
    color: black;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
    box-shadow: 1px 4px 8px rgb(56, 7, 7);
}

.posts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-title {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 4px;
}

img {
    margin: 10px 0;
    width: 150px;
    height: 200px;
    box-shadow: 1px 2px 5px rgb(56, 7, 7);
}

.post-img {
    align-items: center;
}

.post:hover {
    background-color: #DEFFFC;
}