#post-details {
    margin: 10px 0;
    background-color: #86626E;
    width: 80vw;
    height: auto;
    color: black;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
    box-shadow: 1px 4px 8px rgb(56, 7, 7);
}

#del-btn {
    background-color: darkred;
}

#del-btn:hover {
    box-shadow: 1px 4px 8px black;
}


#edit-btn {
    background-color: rgb(104, 187, 104);
}

.options-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.btn {
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    width: 20%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.book-container {
    display: flex;
}

.book-details {
    width: 50%;
    margin-right: 10px;
    box-shadow: 2px 4px 6px rgb(56, 7, 7);
}

.italic-span {
    font-style: italic;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}