.form-field {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#book-form {
    justify-content: center;
    display: flex;
}

#publish-label {
    margin-left: 15px;
}

#book-submit {
    margin-top: 15px;
}

#book-submit:hover {
    background-color: black;
    color: white;
    box-shadow: 2px 4px 8px darkred;
}