body {
  color: white;
}

h2 {
  background-color: #1B1B1B;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 1px 1px 2px grey;
}

input {
  background-color: #1B1B1B;
  color: white;
}

textarea {
  background-color: #1B1B1B;
  color: white;
}

select {
  background-color: black;
  color: white;
}
