body {
  color: #E7C8DD;
}

h2 {
  border: 2px solid #E7C8DD;
  background-color: #1B1B1B;
  width: 35%;
  border-radius: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 1px 1px 2px grey;
}
