a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #DEFFFC;
}

body {
  margin: 0;
  background-image: url("./pics/Alphabet-Background-transformed.jpeg");
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.garafont {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.futurafont {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#welcome {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80%;
  padding: 20px 0;
}